<div class="d-flex">
    <div class="sidebar d-flex flex-column p-5" style="height: 90vh; width: 250px; background-color: #efe1ba;">
        <a href="" style="text-decoration: none; color: #fff; font-weight: 700;" routerLink="/dashboard">Dashboard</a>
        <a href="" style="text-decoration: none; color: #fff; font-weight: 700;" routerLink="/students">Student List</a>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column w-100">
        <h2>Edit student details</h2>
        <form action="" class="border shadow rounded p-5 mt-5 w-50">
            <div class="mt-3">
                <input [(ngModel)]="student.id" name="sid" class="form-control " type="text" placeholder="student id" disabled="">
            </div>
            <div class="mt-3">
                <input [(ngModel)]="student.name" name="sname" class="form-control" type="text" placeholder="Name">
            </div>
            <div class="mt-3">
                <input [(ngModel)]="student.email" name="semail" class="form-control" type="text" placeholder="Email">
            </div>
           
            <div  class="form-floating mt-3">
                <select [(ngModel)]="student.status" name="sstatus"  class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                </select>
                <label for="floatingSelect">Student status</label>
            </div>
            <div class="mt-4 ">
                <button class="btn btn-danger" (click)="restoreValues(student.id)" >Cancel</button>
                <button class=" ms-3 btn btn-success" (click)="studentUpdate(student.id)">update</button>
            </div>
        </form>
    </div>
</div>
